@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #aaa;
    color: #fff;
    padding: 15px 30px;
}

/* Navbar links */
nav a {
    padding: .5em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Navnar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    float: left;
    margin: 10px;
}

/* TODO: Add logo style */

main {
    max-width: 1024px;
    margin: auto;
}

h1 {
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
}